/* Add some styling for the button */
#scrollTopBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
}

#scrollTopBtn:hover {
    background-color: #555;
}